<%- include('./partials/header') %>

<h2>Welcome to our store</h2>
<button><a href="/products/new" <%- title ==='Add Your Cart' ? 'class="active"' : '' %>>Start your shopping now</a>
</button>

<%- include('./partials/footer') %>