<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Products</title>
</head>
<body>
    <nav class="active">
    <a class="homeButton" href="/" <%- title ==='Home' ? 'class="active"' : '' %>>Home</a> |
    <a class="addYourCartButton" href="/products/new" <%- title ==='AddCart' ? 'class="active"' : '' %>>Add Your Cart</a> |
    <a class="checkoutButton" href="/products" <%- title ==='Checkout' ? 'class="active"' : '' %>>Checkout</a>
</nav>